@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
  color: black;
}

body{
  /* background-color: blue; */
}

/* ---------------------NAVBAR----------------------------------- */
.navbar{
  padding: 0px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: auto;
  justify-content: space-between;

  /* background-image: url(../public/images/sky.jpg); */
  background-color: rgba(37, 151, 196, 0);
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 20px; */
  /* border-radius: 30px; */
  position: sticky;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;
  

}


.navbar h1{
  color: red;
}

.navbar .links{
  margin-right: 40px;
  
}

.navbar .links a{
  margin-left: 30px;
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.navbar a:hover{
  color: rgb(6, 120, 120);
}

.navbar-logo{
  height: 60px;
  padding-top: 10px;
  filter: invert(180);
}



/* --------------------------HOME----------------------------------- */
.homeBackground{
  background-color: blue;
  margin-top: -10vh;
  height: 80vh;
  max-width: 100vw;
  /* position: absolute; */
  background-image: url(../public/images/ajce4.png);  
  background-repeat: no-repeat;
  background-size: cover;

}

.content{
  max-width: 100vw;
  /* margin: 40px auto; */
  padding: 20px;
  /* background-color: blueviolet; */
  position: relative;
  top: 30px;
  
}

.acmajce{
  /* font-size: 1400%; */
  font-size: 8rem;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: white;
  margin-top: 3%;
  margin-bottom: 0;
}

.home{
  position: relative;
  /* margin-top: 20px; */
}

.home h1{
  margin-top: -1%;
  color: white;
}

.home-content{
  margin-top: 5%;
}

#acm{
  color: rgb(59, 169, 213);
}


.leftOverlay{
  background-color: red;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 78vh;
  width: 100%;
  opacity: 60%;
  margin-top: 00px;
  z-index: 0;
  background-color: #000000ca;
  animation-name: overlay-effect;
  animation-duration: 3s;
  overflow-y: hidden;

}

@keyframes overlay-effect{
  from{width: 0%;}
  to{width: 100%;}
}

.leftSide{
  /* width: 40%; */
  text-align: left;
  padding-left: 90px;
  /* background-color: blue; */
  margin-top: 2%;
  

}

.leftSide h1{
  color: white;
  font-weight: 600;
}

.leftSide p{
  font-size: 15px;
  color: white;
  margin-top: 10px;
}

.rightSide{
  color: rgb(0, 0, 0);
  width: 40%;
  margin-left: 52%;
  font-weight: 700;
  position: absolute;
  margin-top: 100px;
  /* margin-top: -3%; */
  text-align: left;
}

.exploreButton{
  background-color: rgb(37,152,196);
  width: 150px;
  padding: 15px 10px 15px 10px;
  border: 1px;
  color: white;
  font-size: 17px;
  border-radius: 30px;
  margin-left: 0px;
  margin-top: 20px;
}

.exploreButton:hover{
  background-color: #000000f2;
  cursor: pointer;
  
}

.home-section{
  /* position: sticky; */
  width: 100%;
}

/* ---------------------------ABOUT----------------------------------- */

.about{
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.card-title{
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 23px;
}

.card-para{
  font-weight: 0;
  color: rgb(60, 60, 60);
}

.card-container{
  /* background-color: red; */
  /* border: 2px solid black; */
}

#about-line{
  width: 100px;
  margin: auto;
  /* color: rgb(0,136,215); */
  height: 2px;
  background: rgb(4, 163, 249);
  border-radius: 20px;
  margin-bottom: 20px;
}

#about-para{
  margin-bottom: 40px;
}



/* ----------------COUNTER----------------------- */
.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,.4), rgba(0, 0, 0, 0.68)), url(../public/images/counter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
}


.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
   position: relative;
   display:inline;
   display: inline-block;
   float: left;
   margin-right: 2%;
   margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { 
  width: 980px;
   margin: 30px auto;
    position: relative;
  
  }
.counter { background-color: #ffffff00; padding: 20px 0; border-radius: 5px;}
.count-title { font-size: 40px; font-weight: bold;  margin-top: 10px; margin-bottom: 0; text-align: center; color: white; }
.count-text { font-size: 20px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; color: white;}
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }

#counter-container{
  background-color: red;
  height: 300px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  /* background-image: url(../public/images/ajce4.png); */
}

/* -----------------EVENTS---------------- */

/* 
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-gap: 20px;
}

.card {
  background-color: #6096ba00;
  padding: 0rem;
  width: 30vw;
  
}

.card img{
  width: 100%;
  height: 100%;


}

h2 {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}


button {
  padding: 0.5rem;
  border: none;
  background-color: #A3CEF1;
  font-family: 'Jost', sans-serif;
  font-size: 0.8em;
}
footer {
  float: right;
  color: #fff;
}

.modal_outer {
  display: grid;
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: hsla(207, 74, 94, 0.7);
  top: 0;
  left: 0;
  
  opacity: 0;
  pointer-events: none;
 

}


.past-events{
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
} */


.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  width: 300px;
  height: 450px;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}

.card-body{
  height: 50px;
}





/* #app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 390px;
  height: 450px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: white;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
  background-image: url(../public/images/linux_workshop.png);
  background-size: cover;
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
  background-image: url(../public/images/python.png);
  background-size: cover;
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
  background-image: url(../public/images/quizardy.png);
  background-size: cover;
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
  background-image: url(../public/images/retro.png);
  background-size: cover;
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}



.cardText{
  color: rgb(255, 255, 255);
  background-color: #000000;
  margin-top: 400px;
  width: 100%;
} */


/* swiper pagination */
.swiper {
  width: 70%;
  height: 450px;
  max-height: 450px;
  /* border: 1px solid black; */
  border-radius: 15px;
  /* box-shadow: 5px 5px #00000082; */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-container{
  display: flex;
  /* justify-content: center; */
  margin: auto;
  background-color: #97979725;
  height: 100%;
}

.event-image{
  width: 43%;
  /* height: 100%; */
  /* background-image: url(../public/images/linux_workshop.png); */
  background-size: cover;
}

#event-linux{
  background-image: url(../public/images/linux_workshop.png);
}

#event-python{
  background-image: url(../public/images/python.png);
}

#event-retro{
  background-image: url(../public/images/retro.png);
}

#event-quizardy{
  background-image: url(../public/images/quizardy.png);
}

.event-content{
  /* display: flex; */
  /* margin-left: 30px; */
  text-align: left;
  /* background-color: rgb(127, 255, 150); */
  padding: 30px;
  width: 57%;
}

.event-content h1{
  font-size: 30px;
  font-weight: 600;
}

.event-content p{
  margin-top: 20px;
  font-size: 15px;
}